*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --blue: #000078;
  --gray: #f0f0f0;
  --gray-dark: #9f9f9f;
  --white: #fbfbfb;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  /* outline: 1px solid red; */
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.header{
  background-color: #ffffff89;
  --webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);

  width: 90%;
  max-width: 1200px;
  height: 60px;
  padding: 2rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  border-radius: 50px;
  box-shadow: 0 0 5px #0000006c;
}

.header__picture{
  max-width: 200px;
  height: 70px;
  overflow: hidden;
  align-content: center;
}

.header__logo{
  color: var(--blue);
  text-align: center;
  text-wrap: balance;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav__lists{
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav__link{
  text-decoration: none;
  color: var(--blue);
  padding: .4rem 1.2rem;
  box-shadow: 0 0 15px -5px #000;
  border-radius: 50px;
  transition: color .2s ease-in, background-color .2s ease-in;
}

.nav__link:hover{
  color: var(--gray);
  background-color: var(--blue);
}

/* *Main */

.main{
  margin-top: 5rem;
}

.section{
  width: 100%;
  padding-inline: 3rem;
}

.section--gray{
  background-color: var(--gray);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem 3rem;
}

.section__texts{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section__title{
  font-size: 2rem;
  color: var(--blue);
  display: flex;
  flex-direction: column;
}

.paragraph{
  color: var(--gray-dark);
  text-wrap: balance;
  line-height: 1.6;
}

.section__paragraph{
  color: var(--gray-dark);
  text-wrap: balance;
  max-width: 350px;
}

.section__image{
  width: 400px;
}

.section__img{
  width: 100%;
  max-width: 450px;
  max-height: 350px;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 4/3;
}

.skills{
  display: flex;
  flex-direction: column;
  gap: 4.5rem;

  padding: 1rem 0 8rem;
  align-items: center;
}

.skills__descriptions{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.skills__subtitle{
  font-size: 1.9rem;
  color: var(--blue);
}

.skills__paragraph{
  text-align: center;
  font-weight: 500;
}

.skills__programs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill{
  max-width: 300px;
  flex-grow: 1;
  flex-basis: 250px;

  text-align: center;
}

.skill__subtitle{
  color: var(--blue);
  font-size: .9rem;
  margin-bottom: 1.3rem;
}

.skill__paragraph{
  font-size: .8rem;
}

.experiences{
  text-align: center;
  padding: 6rem 2rem;
}

.experiences__subtitle{
  color: var(--blue);
  font-size: 2rem;
  margin-bottom: 30px;
}

.paragraph{
  margin-bottom: 40px;
  font-weight: 500;
}

.cta{
  display: inline-block;
  /* margin: 0 auto; */
  text-decoration: none;
  padding: .8rem 1.3rem;
  background-color: #00bdad;
  color: var(--white);
  border-radius: 50px;
  box-shadow: 0 0 10px #000;
}

.cta:hover{
  transform: scale(1.1);
}

/* gallery */

.gallery{
  margin-top: 4rem;

  display: flex;
  justify-content: center;
  gap: 2.5rem 1.5rem;
  flex-wrap: wrap;
}

.gallery__item{
  width: 350px;
  min-height: 100px;
  overflow: hidden;
  padding-bottom: 1rem;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 10px -3px #000;
}

.gallery__item:hover{
  box-shadow: 0 0 10px #000;
}


.gallery__img{
  display: block;
  border-radius: 10px 10px;
  min-width: 100%;
  max-height: 240px;
  object-fit: cover;
  margin-bottom: 1rem;
  aspect-ratio: 4/3;
}

.gallery__paragraph{
  margin: unset;
  margin-top: 1rem;
}

.footer{
  background-color: var(--gray);
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.footer__title{
  color: var(--blue);
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.2rem;
}

.footer__email{
  color: #0000db;
}

.footer__icons{
  display: flex;
  gap: 2.5rem;
}

.icon{
  text-decoration: none;

}

.bi{
  font-size: 32px;
  color: #797979;
  transition: color .2s ease-in;
}

.bi:hover{
  color: var(--blue);
}

@media screen and (width <= 768px) {
  .header{
    background-color: var(--white);
    width: 100%;
    height: 80px;
    padding: 2rem;
    top: 0;
    border-radius: unset;
    box-shadow: 0 0 5px #0000006c;
  }

  .main{
    margin-top: 5rem;
  }
  
  .section{
    width: 100%;
    padding-inline: 3rem;
  }

  .section--gray{
    gap: 3rem;
  }
  
  .section__texts{
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .section__title{
    font-size: 1.5rem;
  }
  
  .section__paragraph{
    font-size: .8rem;
  }

  .footer{
    gap: 4rem;
  }
  
  .footer__title{
    color: var(--blue);
    font-size: 2rem;
    gap: 0;
  }
  
  .footer__icons{
    gap: 2rem;
  }
  
  .bi{
    font-size: 28px;
  }
}

@media screen and (width <= 600px){
  .section--gray{
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer{
    gap: 2rem;
  }
  
  .footer__title{
    font-size: 1.5rem;
  }

  .bi{
    font-size: 22px;
  }
}